*{
    margin: 0;
    padding: 0;
}
.lwrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logincontainer{
    width: 400px;
    height: 260px;
    background-color: rgb(43, 41, 41);
    border: 1px solid rgb(92, 88, 88);
    box-shadow: 1px 1px 5px 5px rgb(143, 142, 142);
    border-radius: 5px;
}
.logincontainer h1{
    margin-top: 5px;
    align-items: center;
    text-align: center;
    position:relative;
    color: rgb(240, 241, 240);
    text-shadow: 1px 1px 2px rgb(232, 78, 78);
    /* bottom: 50px; */
}
.user{
    display: flex;
    position: relative;
    top: 30px;
    left:60px;
   

    
}
.txt{
    display:flex;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    /* color: black; */
    background-color:rgb(43, 41, 41) ;
    color: white;
    /* background-color: white; */
}
.it{
    display: inline;
}
.pass{
    display: flex;
    position: relative;
    top: 60px;
    left: 60px;
}

.button{
    width: 80px;
    height: 23px;
    position: relative;
    cursor: pointer;
    left: 162px;
    top: 85px;
    border-radius: 8px;
}

.signindirect{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left:20px;
}
.signindirect p{
    color: white;
}
.signindirect a{
    color: rgb(103, 231, 86);
    list-style: none;
    text-decoration: none;
    margin: 0px 7px ;
}
